<%= form_with(model: file_upload, local: true) do |form| %>
  <% if file_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_upload.errors.count, "error") %> prohibited this file_upload from being saved:</h2>

      <ul>
      <% file_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="duplicate-message-container">
    <li id="duplicate_message"></li>
  </ul>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :files %>
    <%= form.file_field :files, multiple: true, direct_upload: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
