<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-8">
      <p class="file-upload-title">FILE UPLOADS</p>
    </div>
    <div class="col-md-4 justify-content-end">
      <%= link_to 'NEW FILE UPLOAD', new_file_upload_path, :class => 'btn btn-primary file-upload'  %>
    </div>
  </div>

  <% if @file_uploads.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">Show files</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @file_uploads.each do |file_upload| %>
        <tr>
          <td><%= file_upload.name %></td>
          <td><%= link_to file_upload, class: 'show-link' do %>
            <i class="fa fa-file"></i>
            <span class="small">show file</span>
            <% end %>
          </td>
          <td>
            <span class="edit-icon">
              <%= link_to edit_file_upload_path(file_upload), class: 'edit-link' do %>
                <i class="fa fa-edit"></i>
              <% end %>
            </span>
            <span>
              <%= link_to file_upload, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-link' do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>
      <% else %>
      <div class="no-record-container">
        <p class="text-center no-record"> No file uploaded :( </p>
      </div>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
