<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-8">
      <p class="attachment-title"><%= @file_upload.name %><span> Attachments</span></p>
    </div>
    <div class="col-md-4 order-12">
      <%= link_to 'EDIT', edit_file_upload_path(@file_upload), :class => 'btn btn-danger btn-sm' %>
      <%= link_to 'BACK TO UPLOADS', file_uploads_path, :class => 'btn btn-success btn-sm'%>
    </div>
  </div>
  <div class="row">
    <% if @file_upload.files.attached? %>
    <!-- @post.image.present? will always return true, use attached? to check presence -->
    <% @file_upload.files.each do |file| %>
      <div class="col-md-4 attachment">
        <div class="attachment-box">
          <%if file.content_type.start_with? 'image/' %>
            <%= image_tag(file, class: "attachment-image") %>
          <% else %>
            <%= image_tag("file.png", class: "attachment-image") %>
          <% end %>
        <div class="text-center download-btn"><%= link_to 'Download', file, download: '', :class => 'btn btn-primary btn-sm download'  %></div>
      </div>
    </div>
    <% end %>
    <% else %>
      <div class="no-record-container">
        <p class="text-center no-record"> No attachment for this file :( </p>
      </div>

    <% end %>
  </div>
</div>
